extends ./_base

block append vars
  - pageTitle.push('Homepage')

block main
  | homepage yay
  +component3('hallo allemaals', true)
  +component2('Dit is de titel','Dit is de lead tekst.','Wat doe je tijdens de propedeuse? Wat is een <a href="#">differentiatie</a>? Hoe zit het met stages, minoren en afstuderen? Ontdek het op de tijdlijn van de opleiding Elektrotechniek.')
  +component2('Dit is de titel','Dit is de lead tekst.','Wat doe je tijdens de propedeuse? Wat is een <a href="#">differentiatie</a>? Hoe zit het met stages, minoren en afstuderen? Ontdek het op de tijdlijn van de opleiding Elektrotechniek.')
  br
  - var items = [];
  - items.push({ title: 'ggg', body: 'fff' })
  - items.push({ title: 'ggg', body: 'fff' })
  - items.push({ title: 'ggg', body: 'fff' })
  +factsheet('Factsheet', items)
  +section--intro('Met 65 voltijd-bacheloropleidingen en ruim 140 minoren krijg je als HAN-student volop de mogelijkheid om je te ontwikkelen en te groeien. Kom ook naar de Open Dag of vraag een brochure aan! De HAN geeft je de ruimte. Maak er gebruik van!')
